.hero{
    background-image: url('../../assets//hero-image.jpg');
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    padding: 50px;
}
.hero_heading{
    font-size: 94px;
    width: 50%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero_arrow{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.hero_button_container{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    border:2px solid var(--white-text);
    color: var(--white-text);
    border-radius: 1rem;
    /* margin-left: 50px; */
    width: fit-content;
    gap: 0;
    transition: 0.5s;
}
.get_in_touch{
    background-color: transparent;
    color: var(--white-text);
    border: none;
    font-size: 25px;
    transition: 0.5s;
}
.hero_button_container:hover{
    /* background-color: var(--white-text); */
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 50rem;
    padding-left: 20px;
    gap: 50px;
}

@media screen and (max-width:850px){
    .hero{
        padding: 20px;
    }
    .hero_heading{
        font-size: 54px;
    }
    .hero_arrow{
        width: 100px;
    }
    .get_in_touch{
        font-size: 15px;
    }
}
@media screen and (max-width:450px){
    .hero_heading{
        font-size: 25px;
        /* width: 100%; */
    }
    .hero_arrow{
        display: none;
    }
    .hero_button_container{
        margin: 0;
        padding: 0;
        border-width: 1px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .get_in_touch{
        font-size: 12px;
        padding: 0px;
        margin: 0;
    }
}