:root{

}
.design_4{
    background-color: var(--primary-background);
    aspect-ratio: 1/1;
    width: 25%;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-family: var(--primary);
}
.product_image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}
.design_4:hover .product_image{
    box-shadow: 0px 10px 10px var(--primary-shadow);
}

.design_4_details{
    color: var(--text);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: min-content;
    font-family:var(--primary-font);
    font-size: 15px;
}

.design_4_heading{
    transition: 0.25s;
}
.design_4:hover .design_4_heading{
    color: var(--primary);
}
.button_container{
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    transition: 0.5s;
    border-radius: 50rem;
    border: 2px solid transparent;
}

.design_4:hover .button_container{
    border: 2px solid var(--primary);
    gap: 50px;
    padding-left: 20px;
}

.design_4_button{
    background-color: transparent;
    font-size: 15px;
    border: none;
    color: var(--primary);
}
.arrow{
    background-color: var(--primary);
    border-radius: 50%;
    scale: 1.2;
    /* margin: 20px; */
}


@media screen and (max-width:750px) {
    .design_4{
        aspect-ratio: 1/1;
        background-color: var(--primary-background);
        width: 40%;
        color: white;
        font-size: 15px;
        
    }
    .design_4_details{
        justify-content: space-evenly;
        font-size: 13px;
    }
    .design_4_button{
        font-size: 15px;
    }
    .button_container{
        gap: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 5px;
    }
    .arrow{
        scale: 0.75;
    }
}


@media screen and (max-width:480px) {
    .design_4{
        aspect-ratio: 1/1;
        background-color: var(--primary-background);
        width: 100%;
        color: white;
        font-size: 15px;
        justify-content: space-evenly;
        margin: 10px;
    }
    .design_4_button{
        font-size: 15px;
    }
    .button_container{
        display: flex;
        align-items: center;
        gap: 20px;
        width: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 5px;
        transition: 0.5s;
        border-radius: 50rem;
        border: 2px solid var(--primary);
    }
    .design_4:hover .design_4_heading{
        color: var(--primary);
    }
    .arrow{
        scale: 0.75;
    }

}