.footer{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: var(--primary-font);
    /* font-size: 1.2rem; */
    gap: 50px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer_heading{
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--text-white);
}
.social_icons{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 20px;
}
.linkedin_icon{
    scale: 120%;
}
.youtube_icon{
    scale: 155%;
}
.contact_details{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    
}
.footer_middle{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: 100;
}
.copyright_text{
    color: var(--primary-background);
    opacity: 50%;
}
.footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}
.footer_sub_heading{
    font-weight: bolder;
    font-size: 1.2rem;
}
.footer_bottom{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer_logo{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media screen and (max-width:720px){
    .footer_middle{
        flex-direction: column;
        gap: 40px;
    }
}